<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>전체 선수 목록</title>
</head>
<body>
<table>
    <tr>
        <th>선수번호</th>
        <th>선수이름</th>
        <th>선수포지션</th>
        <th>선수나이</th>
        <th>선수 소속 팀</th>
        <th>국가대표 출전 경기수</th>
        <th>국가대표 득점</th>
        <th>소속 국가 아이디</th>
    </tr>
    <tr th:each="players : ${ playerList }">
        <td th:text="${ players.playerId }"></td>
        <td th:text="${ players.playerName }"></td>
        <td th:text="${ players.position }"></td>
        <td th:text="${ players.age }"></td>
        <td th:text="${ players.club }"></td>
        <td th:text="${ players.caps }"></td>
        <td th:text="${ players.goals }"></td>
        <td th:text="${ players.countryId }"></td>
    </tr>
</table>
<div id="paging" >
    <!-- 맨 앞으로 이동 -->
    <button
            th:onclick="'location.href=\'/info/allplayer?page=' + @{${paging.startPage}} + '\''">
        <<</button>
    <!-- 이전 페이지로 이동 -->
    <button
            th:onclick="'location.href=\'/info/allplayer?page=' + @{${paging.currentPage - 1}} + '\''"
            th:disabled="${ playerList.first }">
        <
    </button>
    <!-- 숫자 버튼 -->
    <th:block th:each="page : ${ #numbers.sequence(paging.startPage, paging.endPage)}">
        <button th:onclick="'location.href=\'/info/allplayer?page=' + @{${page}} + '\''"
                th:text="${ page }"
                th:disabled="${ paging.currentPage eq page }">
        </button>
    </th:block>
    <!-- 다음 페이지로 이동 -->
    <button
            th:onclick="'location.href=\'/info/allplayer?page=' + @{${paging.currentPage + 1}} + '\''"
            th:disabled="${ playerList.last }">
        >
    </button>
    <!-- 맨 끝으로 이동 -->
    <button
            th:onclick="'location.href=\'/info/allplayer?page=' + @{${paging.endPage}} + '\''">
        >>
    </button>
</div>
</body>
</html>