<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>선수 추가</title>
</head>
<body>
<h1>선수 추가</h1>
<form action="/info/regist" method="post">
  <label>이름: </label><input type="text" name="playerName"><br>
  <label>포지션: </label><input type="text" name="position"><br>
  <label>나이: </label><input type="number" name="age"><br>
  <label>소속 클럽: </label><input type="text" name="club"><br>
  <label>출장 횟수: </label><input type="number" name="caps"><br>
  <label>골 횟수: </label><input type="number" name="goals"><br>
  <label>국적(코드로 입력): </label><input type="text" name="countryId"><br>
  <input type="submit" value="선수 추가">
</form>
</body>
</html>
